---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Hero from "@components/Hero.astro";

const posts = await getCollection("posts");
---

<Layout>
  <Hero />
  <Header />
  <main id="main-content">
    <!-- TODO -->
    <h2>rencent posts</h2>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/posts/${post.slug}/`}>{post.data?.title}</a>
          </li>
        ))
      }
    </ul>
  </main>

  <Footer />
</Layout>

<style></style>
