---
import { MENUS } from "../../config";
// TODO
// import { MENUS } from "@config";
---

<header>
  <nav id="nav-menu">
    <ul id="menu-items">
      {
        MENUS.map((header) => (
          <li>
            <a href={header.pageRef}>{header.name}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
