---
import { MENUS } from "@config";
---

<header>
  <nav id="nav-menu">
    <ul
      id="menu-items"
      class="h-14 bg-[rgb(239,239,239)] border-b flex items-center justify-center sm:flex-row;"
    >
      {
        MENUS.map((header) => (
          <li class="p-4 font-semibold">
            <a href={header.pageRef}>{header.name}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
