---
import { HERO } from "@config";
const { title, secDes, image } = HERO;
---

<div class="bg-hero-bg h-[150px]">
  <div
    class="text-white h-[150px] text-[56px] flex justify-center items-center"
  >
    <h1>{title}</h1>
    <h3></h3>
  </div>
</div>
